.main-page-header{
    text-align: center;

}
.main-page-header::first-letter{
    color: var(--orange-color)
}

.grid-section{
    height: 240px;    
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto;
    grid-template-areas: 'img title'
                            'img info'
                            'img info';
}

.grid-pic{
    grid-area: img;
}
.section-title{
    grid-area: title;
    text-transform: uppercase;
    font-size: var(--font-size-20);
}
.section-info{
    grid-area: info;
    font-size: var(--font-size-15);
    overflow:scroll;
    padding-right: 15px;
}