.explore-header{
    background-image: url("../images/lab-512503_1920.jpg");
    background-size:cover;
    background-repeat: none;
    height: 153px;
    width: 90vw;
    border-radius: var(--frame-radius);
    border:3px solid var(--orange-color); 
    margin-bottom: 50px;
}
.explore-header h1{
    margin-top:0;
    text-align: center;
    background-image: radial-gradient(circle at center, #F9A824, #02568F, #39B16E);
    background-clip: text; 
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke-color:black ;
    -webkit-text-stroke-width:0.5px ;
  
}
.explore-section{
    position: relative;
    max-width: 90vw;
    margin-bottom: 50px;
    

}
.explore-section img{
    vertical-align: middle;
    opacity: 0.2;
    height: auto;
    max-width: 90vw;
    border-radius: var(--frame-radius);
}

.explore-section .explore-section-txt{
    position: absolute;
    top: 0;
    color: #050505;
    width: 100%;
    margin: 20px;
    z-index: 1;
  
}


.explore-section-title{
    text-align: center;
    text-transform: uppercase;
    font-size: var(--font-size-20);
}
.explore-section-info{
    font-size: var(--font-size-15);
    width: 90%;
}

@media (min-width:750px) {

    .explore-section{
        border:none;
    }
    
    .explore-header{
        margin-top:50px;
        height: 354px;
        width: auto;
    }
    .explore-header h1{
    font-size: 64px;
  
    }
    .explore-section img{
        opacity: 1;
        max-width: 40vw;
    }
    .explore-section img:nth-child(even){
        position: relative;
        top: 0;
        left: 50%;
        width: 40vw;

    }
    .explore-section .explore-section-txt{
        position: absolute;
        top: 0;
        left:50%;
        width: 50%;
        margin: 20px;
        z-index: 1;
    }
    .explore-section .explore-section-txt:nth-child(odd){
        position: absolute;
        top: 0;
        left:0%;
        width: 40vw;

    }
    .explore-section-title{
    text-align: left;
    
    
    }
    
    
}
@media (min-width:1300px) {

   .explore-section img{
        margin-left: 10%;
        height: auto;
        max-width: 20vw;
     
    }
     .explore-section .explore-section-txt{
        
        top: 0%;
        left:40%;
        margin: 20px;
       
    }
    
    .explore-header{
        margin-top:50px;
        height: 354px;
        width: auto;
    }
    
 
    .explore-section img:nth-child(even){
        position: relative;
        top: 0;
        left: 50%;
        

    }
    .explore-section .explore-section-txt{
        width: 40vw;
        top: -70px;
    }
    .explore-section .explore-section-txt:nth-child(odd){
        
        left: 10%;
        top: 10%;
    } 
    .explore-section-title{
        
        font-size: var(--font-size-32);
    }
    .explore-section-info{
        
        font-size: var(--font-size-20);
        
    }
    
}