.explore-header{
    background-image: url("../images/lab-512503_1920.jpg");
    background-size:cover;
    background-repeat: none;
    background-position: center;
    height: 153px;
    max-width: 90vw;
    border-radius: var(--frame-radius);
    border:3px solid var(--orange-color); 
    margin-bottom: 50px;
}
.explore-header h1{
    margin-top:0;
    text-align: center;
    background-image: radial-gradient(circle at center, #F9A824, #02568F, #39B16E);
    background-clip: text; 
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke-color:black ;
    -webkit-text-stroke-width:0.5px ;
  
}
h2{
    text-transform: uppercase;
}

/*cards*/

.cards{
    display: flex;
    flex-direction: column;
    margin-left: 10%;
    
    
}
.container{
    left:40%;
    perspective: 800px;
    margin-bottom: 10%;
    
}


.container-kids:hover > .card-kids {
    transform: rotateY(180deg);
    margin-bottom: 10%;
 
}

.card-kids {
    height: 500px;
    width: 300px;
    position: relative;
    transition: transform 1500ms;
    transform-style: preserve-3d;
    margin-bottom: 50px;
  
    

}

.front-kids,
.back-kids {
    height: 100%;
    width: 90%;
    border-radius: 2rem;
    box-shadow: 0 0 5px 2px rgba(6, 112, 10, 0.50);
    position: absolute;
    backface-visibility: hidden;
    padding: 5%;
     
}

.front-kids {
    
    background-image: url('/SemesterProject1/images/reading-2762010_1280.jpg');
    background-size: cover; 
   
}

.back {
    max-width: 90%;
    transform: rotateY(180deg);
    gap: 5rem;

}

.container-teacher {
    width: 350px;
    height: auto;
    perspective: 800px;
    margin-bottom: 10%;
  
}

.container-teacher:hover > .card-teacher {
    transform: rotateY(180deg);
    margin-bottom: 10%;
}


.card-teacher {
    height: 500px;
    width: 300px;;
    position: relative;
    transition: transform 1500ms;
    transform-style: preserve-3d;
    margin-bottom: 50px;

}

.front-teacher,
.back-teacher {
  height: 100%;
  width: 90%;
  border-radius: 2rem;
  box-shadow: 0 0 5px 2px rgba(153, 7, 250, 0.50);
  position: absolute;
  backface-visibility: hidden;
  padding: 5%;
}

.front-teacher {
     padding: 10%;
    background-image: url('/SemesterProject1/images/luke-ellis-craven-400722.jpg');
    background-size: cover; 
}


.container-res {
    width: 350px;
    height: 500px;
    perspective: 800px;
  
}

.container-res:hover > .card-res {
    transform: rotateY(180deg);
    
}


.card-res {
    height: 500px;
    width: 300px;;
    position: relative;
    transition: transform 1500ms;
    transform-style: preserve-3d;
     margin-bottom: 50px;

}

.front-res,
.back-res {
  height: 100%;
  width: 90%;
  border-radius: 2rem;
  box-shadow: 0 0 5px 2px rgba(25, 158, 195, 0.50);
  position: absolute;
  backface-visibility: hidden;
  padding: 5%;
}

.front-res {
    padding: 10%;
    background-image: url('/SemesterProject1/images/library-1132573_1920.jpg');
    background-size: cover;
    background-position: center; 
}
footer{
    margin-top: 200px;
}

@media (min-width:750px) {
    .container h2{
        text-align: center;
    }
    .container-res {
        margin: 0 1%;
       
    }
     .container-kids {
        margin: 0 1%;
       
    }
     .container-teacher {
        margin: 0 1%;
       
    }
    .card-res {
      left: 40%;

    }
     .card-kids {
      left: 20%;

    }
     .card-teacher {
      left: 40%;

    }
    .front-res,
    .back-res {
         left: 40%;
    height: 100%;
    width: 100%;  
    }
    .front-teacher,
    .back-teacher {
         left: 40%;
    height: 100%;
    width: 100%;  
    }
     .front-kids,
    .back-kids {
    left: 40%;
    height: 100%;
    width: 100%;  
    }

}
@media (min-width:1100px) {
    .cards{
        flex-direction: row;
        margin-left: 0%;
        max-width: 100%;  
    }
    .container-res {
        margin: 0 2%;
       
    }
     .container-kids {
        margin: 0 2%;
       
    }
     .container-teacher {
        margin: 0 2%;
       
    }
    .front-res,
    .back-res {
    height: 100%;
    width: 80%;  
     left:0%;
    }
    .front-teacher,
    .back-teacher {
    height: 100%;
    width: 80%;  
     left: 0%;
    }
     .front-kids,
    .back-kids {
    height: 100%;
    width: 80%;  
     left: 0%;
    }
      .card-res {
      left: 0%;

    }
     .card-kids {
      left: 0%;

    }
     .card-teacher {
      left: 0%;

    }

}

@media (min-width:1300px) {
 
    .container-res {
        margin: 0 5%;
       
    }
     .container-kids {
        margin: 0 5%;
       
    }
     .container-teacher {
        margin: 0 5%;
       
    }
    .front-res,
    .back-res {
   
    width: 90%;  
    }
    .front-teacher,
    .back-teacher {
    
    width: 90%;  
    }
     .front-kids,
    .back-kids {
    
    width: 90%;  
    }

}

