.main-page-header{
    text-align: center;
   

}
.main-page-header::first-letter{
    color: var(--red-color)
}
.section-info{
    top: 0px;
    height: 230px;
    grid-area: auto;
}
.glowing-border{
    padding: 1px;
    min-height: 250px;
    border-radius:0;
}
.glowing-border.right{
    border-radius:0;
}




