.main-page-header{
   
    text-align: center;

}
.main-page-header::first-letter{
    color: var(--dark-orange-color)
}
.bug-picture{
    max-width: 92vw;
    max-height: auto;
    margin-left: 0;

}
h2, h3, h4{
    text-transform: uppercase;
}

h2{
    font-family: poppins;
    font-size: var(--font-size-20);
}
h3{
    text-align: center;
}
main p{
    margin: 50px 0px;
}
.mammoth-picture{
     max-width: 92vw;
}

.home-page-picture3{
     max-width: 92vw;
     
}

.button-style{
    font-family: var(--baloo-font);
    width: 70vw;
    height: var(--button-height-mobile);
    color:white;
    text-transform: uppercase;
    font-size: var(--font-size-16);
    border-radius: var(--frame-radius);
    margin-bottom: 50px;
    margin-left: 10%;
}


.button-style:hover{
    background-color: black;
    box-shadow: inset 5px 5px 5px var(--purple-color);
    transform: scale(1.2);
}
.opening-wrapper{
    background-color: #d9d9d9;
    color: black;
    width: 92vw;
    height: auto;
    border-radius: var(--frame-radius);
    padding: 10px; 
    text-align: center;
    margin-bottom: 50px;
}

.days{
    margin: 0px 0px;
}

@media (min-width:750px){
    .home-page-div-wrapper{
        display: flex;
        flex-direction: row;
    }
    .first-div-wrapper, .second-div-wrapper{
        max-width: 40vw;
        margin: 3%;
    }
    .first-div-wrapper p, .second-div-wrapper p{
        min-height: 200px;
        
    }
    .mammoth-picture{
     max-width: 100%;
}

    .home-page-picture3{
        max-width: 100%;
        
    }
    .button-style{
        max-width: 40vw;
        margin-left: 0;
    }

}

@media (min-width: 1000px) {

    .opening-wrapper{
        max-width: 50vw;
        margin-left: 20%;
    }
    .bug-picture{
        width: 85vw;
        

    }
}
