@font-face {
    font-family: 'Baloo';
    src: url('../fonts/Baloo2-VariableFont_wght.ttf') format('truetype');
}
@font-face {
    font-family: 'Poppins';
    src: url('../fonts/Poppins-Regular.ttf') format('truetype');
}

:root{
    --baloo-font: 'Baloo', sans-serif;
    --poppins-font: 'Poppins', sans-serif;
    --font-size-32: 32px;
    --font-size-40: 40px;
    --font-size-36: 36px;
    --font-size-20: 20px;
    --font-size-24: 24px;
    --font-size-15: 15px;
    --font-size-12: 12px;
    --font-size-14: 14px;
    --font-size-16: 16px;
    --font-size-18: 18px;
    --nav-size: 32px;
    --picture-frame-size: 3px;
    --txt-frame-size: 10px;
    --frame-radius: 30px;
    --button-height-mobile: 43px;
    --button-height-desktop: 73px;
    --pink-color: #e16bc3;
    --blue-color: #02568f;
    --green-color: #06700a;
    --orange-color: #f9a824;
    --purple-color: #8139b1;
    --red-color: #ff0202;
    --dark-orange-color: #ff3b00;

}
.baloo-style{
    font-family: var(--baloo-font);
}

.poppins-style{
    font-family: var(--poppins-font);
}

body{
    margin:0;
    padding: 0;
    letter-spacing: 1px;
    display:grid;
    grid-template-columns: 1fr auto 2fr;
    grid-template-rows: 0.2fr auto 1fr;
    grid-template-areas: 
    'header header header'
    'main main main'
    'footer footer footer';
}

/*common-styles*/
.pink-color{
    color: var(--pink-color);
}
.blue-color{
    color: var(--blue-color);
}
.green-color{
    color: var(--green-color);
}
.orange-color{
    color: var(--orange-color);
}
.purple-color{
    color: var(--purple-color);
}
.red-color{
    color: var(--red-color);
}
.dark-orange-color{
    color: var(--dark-orange-color);
}

.border-style-orange{
    border: solid var(--orange-color) var(--picture-frame-size) ;
    border-radius: var(--frame-radius);
}
.border-style-green{
    border: solid var(--green-color) var(--picture-frame-size) ;
    border-radius: var(--frame-radius);
}

.border-style-blue{
    border: solid var(--blue-color) var(--picture-frame-size) ;
    border-radius: var(--frame-radius);
}
.border-style-purple{
    border: solid var(--purple-color) var(--picture-frame-size) ;
    border-radius: var(--frame-radius);
}
.border-style-red{
    border: solid var(--red-color) var(--picture-frame-size) ;
    border-radius: var(--frame-radius);
}
.thick-border-pink{
    border: solid var(--pink-color) var(--txt-frame-size);
}
.thick-border-blue{
    border: solid var(--blue-color) var(--txt-frame-size);
}
.thick-border-orange{
    border: solid var(--orange-color) var(--txt-frame-size);
}
.thick-border-green{
    border: solid var(--green-color) var(--txt-frame-size);
}
.thick-border-purple{
    border: solid var(--purple-color) var(--txt-frame-size);
}
.section-picture{
    width: 128px;
    height: auto;
    border-radius: var(--frame-radius);
    padding: 10px;
    margin-top:30px;
}
.common-border{
    width: 90vw;
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
    margin-bottom: 10%;
}
.btn-link{
    text-decoration: none;
    color:white;
}

h1{
    font-size: var(--font-size-32);
    text-transform: uppercase;
    text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    font-family: var(--baloo-font);
}

.grid-section{
    height: 240px;    
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto;
    grid-template-areas: 'img title'
                            'img info'
                            'img info';
}

.grid-pic{
    grid-area: img;
}
.section-title{
    grid-area: title;
    text-transform: uppercase;
    font-size: var(--font-size-20);
    text-align: center;
}
.section-info{
    grid-area: info;
    font-size: var(--font-size-15);
    overflow:scroll;
    padding: 15px;
}




header{
    position: sticky;
    background-color: #d9d9d9;
    height: 80px;
    z-index: 2;
    grid-area: header;
    
}

/*navigation-bar*/
.burger-menu{
    position: absolute;
    top:1%;
    left: 5%; 
    box-shadow: 0px 4px 4px black ;
    height: 55px;
    width: 55px;
    border-radius: 50%;

}
nav,#hamburger-checkbox{
    display:none;
  

}

#hamburger-checkbox:checked ~ nav{
    display: block;
   
}
nav {
    position: absolute;
    left: 0px;
    background-color:inherit;
}
.navbar-item{
    display: block;
    font-size: var(--nav-size);
    text-decoration: none;
    text-transform: uppercase;
    padding: 3%;
}
.hamburger-icon span{

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 35px;
    height: 2px;
    margin-left: 15px;
    margin-top:10px;
   
    
}
.background-color-blue{
    background-color: var(--blue-color);
  
}
.background-color-orange{
    background-color: var(--orange-color);
    
}
.background-color-green{
    background-color: var(--green-color);
    
}
.hamburger-icon{
    margin: 10px;
}
.active{
    text-decoration: underline;
    font-weight: bolder;
    border-radius: 50%;
   
}

.logo-img{
    position: absolute;
    top:1%;
    left: 60%;
    height: 61px;
    width: auto;
    
}
.logo-txt{
    position: absolute;
    top:0.5%;
    left: 70%;
    height: 72px;
    width: auto;
}

/*main*/

main{
    grid-area: main;
    padding: 10px;
}
.flex-container{
    display: flex;
    flex-direction: row;
}

.main-section{
  padding-bottom: 40px;
}




/* footer */
footer{
    grid-area: footer;
    background-color: #e3e0e0;
    padding: 10px;
   
}

.footer-wrap{
    display:grid;
    grid-template-columns: 1fr 2fr;
     grid-template-rows:1fr 1fr 1fr 1fr;
    grid-template-areas: 
    'footer-header footer-header '
    'footer-address footer-contact'
    'footer-some footer-some'
    'privacy privacy';
 

}
.logo-footer{
    height: 57px;
    width: auto;
    margin: 10px;
}
.footer-header{
    font-size: var(--font-size-20);
    grid-area: footer-header;
   ;
}
.footer-header p{
 
  color: var(--blue-color);
  
}
.footer-address{
    font-size: var(--font-size-12);
    grid-area: footer-address;
}
.maps-link{
    font-size: 10px;
}
.contact-wrap{
    font-size: var(--font-size-12);
    grid-area: footer-contact;
}
.some-wrap{
    grid-area: footer-some;
    padding-left: 30%;
    padding-top: 5%;
   
    
}
.privacy-link{
  font-size: 10px;
    grid-area: privacy
}



@media (min-width:750px){
    h1{
    font-size: var(--font-size-40);
   
    }
    header{
        height: 150px;
    
    }
      nav,
    #hamburger-checkbox{
        display: none;
    }


    nav{
        display: block;
        position: static;
        background-color: inherit;
        margin-left:0;
        width: 100vw;
        position: absolute;
        bottom: -10%;

    }

    .navbar-item{
       
        display: inline-block;
        padding: 5px 1%;
        font-size: var(--font-size-18);
 
    }
   
    .hamburger-icon{
        display:none;
    }

   .logo-img{
    position: absolute;
    top:2%;
    left: 1%;
    height: 119px;
    width: auto;
    }
    .logo-txt{
        position: absolute;
        top:1.8%;
        left: 11.5%;
        height: 125px;
        width: auto;
    }

    .footer-wrap{
        
        grid-template-columns: 1fr 1fr 2fr;
        grid-template-rows: 2fr 3fr 0.5fr;
        grid-template-areas: 
        'footer-header footer-header footer-header '
        'footer-address footer-contact footer-some'
        'privacy privacy privacy';
    

    }
    .logo-footer{
        height: 100px;
    
    }
    .footer-header{
        font-size: var(--font-size-32);
    
    ;
    }

    .footer-address{
        font-size: var(--font-size-18);

    }
    .maps-link{
        font-size: var(--font-size-14);
    }
    .contact-wrap{
        font-size: var(--font-size-18);

    }

    .privacy-link{
        padding-top: 30px;
    }




}

@media (min-width:1000px) {
      nav{   
        position:absolute;
        top: 40%;
        left: 29%;
        height: 50px;
        width: 70vw;
    }
    .logo-txt{
    left: 10.5%;
    }

}
@media (min-width:1100px) {
  
       .navbar-item{
        font-size: var(--font-size-20);
    }

    .grid-section{
    height: 350px;    
    width: 45%;
 
}


    

}