@font-face {
    font-family: 'Baloo';
    src: url('../fonts/Baloo2-VariableFont_wght.ttf') format('truetype');
}
@font-face {
    font-family: 'Poppins';
    src: url('../fonts/Poppins-Regular.ttf') format('truetype');
}