

.section-header-visit{

    max-width: 90vw;
   text-align: center;
}

.main-page-header{
    text-align: center;
    color: var(--red-color);
   
    
}
.astronaut-img{
  
    max-width: 90%;
    height: auto;
    margin-top: 10px;
}
.ball-img{
    
    width: 150px;
    height: auto;
    margin-top: 20px;
}
.location-wrapper{
    grid-area: location;
    padding: 10px;
}
h2{
    text-transform: uppercase;
    font-size: var(--font-size-20);
}
address p{
    font-size: var(--font-size-15);
}



 h3{
    text-transform: uppercase;
    font-size: var(--font-size-18);
    text-align: center;
  
}



.opening-wrapper{
    background-color: #d9d9d9;
    max-width: 90%;
    height: 215px;
    border-radius: var(--frame-radius);
    padding: 10px;
    text-align: center;
    margin-top: 10%;
}
h4{
    font-size: var(--font-size-16);
    text-transform: uppercase;
}
.days{
    font-size: var(--font-size-15);
    line-height: 0.5;
}

.left-txt-wrap{
    text-align: left;
    max-width: 60vw;
    margin-bottom: 50px;
}
.right-txt-wrap{
    text-align: right;
    padding-left: 30vw;
    margin-bottom: 50px;
    
}
.title{
    text-transform: uppercase;
    font-size: var(--font-size-15);
}
.info{
    font-size: var(--font-size-14);
}

.sceleton-img{
    max-width: 90vw;
    height: auto;
}

@media (min-width:750px){
   
    
    .astronaut-img{
        max-width: 300px;
        height: auto;
    }

    .right-txt-wrap{
        text-align: left;
        padding-left: 0;
        max-width: 40vw;
    }
    .left-txt-wrap{
        max-width: 40vw;
    }
    .sceleton-img{
        max-width: 30vw;
        position: relative;
        top:-300px;
        left: 50%;
        margin-left: 10%;
    }

   
}
@media (min-width:1100px){
    p{
        font-size: var(--font-size-18);
    }
     .location-wrapper h2{
        font-size: 26px;
    }
    .location-wrapper address{
        font-size: var(--font-size-20);
    }

     .astronaut-img{
        max-width: 400px;
        height: auto;
    }
    h3{
       font-size: var(--font-size-24); 
    }
    h4{
       font-size: var(--font-size-20); 
    }
    .title{
        font-size: var(--font-size-20);
    }
    .days{
        font-size: var(--font-size-18);
    }
  

    .opening-wrapper{
        height: 300px;
        max-width: 100%;
    }
    .info{
    font-size: var(--font-size-18);
}
  

}
