

.grid-section-header-visit{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1.5fr 2fr;
    grid-template-areas: 'header astro'
                        'ball location';
    max-width: 90vw;
   
}

.main-page-header{
    text-align: left;
    color: var(--red-color);
    grid-area: header;
    
}
.astronaut-img{
    grid-area: astro;
    max-width: 150px;
    height: auto;
    margin-top: 10px;
}
.ball-img{
    grid-area: ball;
    width: 150px;
    height: auto;
    margin-top: 20px;
}
.location-wrapper{
    grid-area: location;
    padding: 10px;
}
h2{
    text-transform: uppercase;
    font-size: var(--font-size-20);
}
address p{
    font-size: var(--font-size-15);
}

.price-section-grid{
    margin-top: 50px;
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 2fr 1fr;
    grid-template-areas: 'price img'
                        't-info t-info';
    
}
.p-and-oh-wrap{
    grid-area: price;
    
}
 h3{
    text-transform: uppercase;
    font-size: var(--font-size-18);
  
}
.toy-img{
    grid-area: img;
    width: 150px;
    height: auto;
}
.tiny-info{
    grid-area: t-info;
    font-size: var(--font-size-12);
}

.opening-wrapper{
    background-color: #d9d9d9;
    width: 230px;
    height: 215px;
    border-radius: var(--frame-radius);
    padding: 10px;
}
h4{
    font-size: var(--font-size-16);
    text-transform: uppercase;
}
.days{
    font-size: var(--font-size-15);
    line-height: 0.5;
}

.left-txt-wrap{
    text-align: left;
    max-width: 60vw;
    margin-bottom: 50px;
}
.right-txt-wrap{
    text-align: right;
    padding-left: 30vw;
    margin-bottom: 50px;
    
}
.title{
    text-transform: uppercase;
    font-size: var(--font-size-15);
}
.info{
    font-size: var(--font-size-14);
}

.sceleton-img{
    max-width: 90vw;
    height: auto;
}

@media (min-width:750px){
    .grid-section-header-visit{
        grid-template-columns: 1.5fr 1.5fr 2fr;
        grid-template-rows: 1fr 3fr;
        grid-template-areas: 'header header header'
                            'ball location astro';
    }
    .price-section-grid{
        grid-template-columns: 3fr 1fr;
        grid-template-rows: 2fr 0.1fr;
        grid-template-areas: 'price img'
                            't-info img';
    }
    .main-page-header{
        text-align: center;
    }
    .astronaut-img{
        max-width: 300px;
        height: auto;
    }
   
    .ball-img{
        width: 200px;
        height: auto;
    }
    .toy-img{
        width: auto;
        height: 330px;
    }
    .tiny-info{
        position: relative;
        top:-200px;
    }
    .left-txt-wrap:nth-child(-n+1){
        text-align: right;
        max-width: 90vw;
        padding-left: 40%;
        position: relative;
        top:-200px;
     
    }
    .right-txt-wrap{
        text-align: left;
        padding-left: 0;
        max-width: 40vw;
    }
    .left-txt-wrap{
        max-width: 40vw;
    }
    .sceleton-img{
        max-width: 40vw;
        position: relative;
        top:-300px;
        left: 50%;
    }

   
}
@media (min-width:1100px){
    p{
        font-size: var(--font-size-18);
    }
     .location-wrapper h2{
        font-size: 26px;
    }
    .location-wrapper address{
        font-size: var(--font-size-20);
    }
      .ball-img{
        width: 300px;
        
    }
     .astronaut-img{
        max-width: 400px;
        height: auto;
    }
    h3{
       font-size: var(--font-size-24); 
    }
    h4{
       font-size: var(--font-size-20); 
    }
    .title{
        font-size: var(--font-size-20);
    }
    .days{
        font-size: var(--font-size-18);
    }
  
    .tiny-info{
        font-size: var(--font-size-14);
    }
    .opening-wrapper{
       height: auto; 
       max-width: 40vw;
    }
  

}
